// LLP page styles
$padding-base: 15px;
$margin-base: 30px;
$margin-sm: 30px;
$margin-md: 60px;

.llp {
  #what-is-llp {
    .llp-logo {
      padding-bottom: 30px;

      text-align: center;
      figure {
        .img-wrap {
          img {
            max-width: 160px ;
          }
        }
      }
    }
  }

  #testimonials {
    @include xlgCap();
      .row {
        &.no-gutter > [class*='col-'] {
          padding-right:0;
          padding-left:0;
        }

        .testimonial-img-wrap {
          height: 200px;
        }

        .testimonial-body {
          padding-right: 0;
          padding-left: 0;
          blockquote {
            margin-bottom: 0;
            margin-left: 30px;
          }
        }
      }
  }

  #events {
    padding-bottom: 0;

    text-align: center;

    .slick-arrow {
      z-index: 10;
      top: 40%;

      &.slick-prev {
        left: 10px;
        &:before {
          font-family: FontAwesome;
          font-size: 36px;

          content: '\f104';

          color: $gray-light;
        }
      }
      &.slick-next {
        right: 10px;
        &:before {
          font-family: FontAwesome;
          font-size: 36px;

          content: '\f105';

          color: $gray-light;
        }
      }
    }

    .events-slide {
      width: 46vw;
      padding: $padding-base 0;

      cursor: pointer;
      transition: all $speed-faster ease-in-out;

      outline: none;

      &.slick-current {
        background-color: $gray-lighter;
      }

      .date {
        font-family: $font-family-heading;
        font-weight: 500;

        width: 96px;
        height: 96px;
        margin: 0 auto;
        margin-bottom: 4px;
        padding: 12px 0;

        border-radius: 100%;
        background-color: $brand-primary;
        .month {
          font-size: 18px;
        }
        .day {
          font-size: 42px;
          line-height: 1;
        }
      }
      .name {
        display: flex;

        height: 3.6em;
        padding: 0 $padding-base;

        align-items: center;
        justify-content: center;

        h4 {
          text-transform: uppercase;
        }
      }
      .detail {
        p {
          font-size: 14px;

          margin: 0;
        }
      }
    }
  }

  #events-info {
    .events-image {
      margin-bottom: $margin-base;
    }
  }
}

@media (max-width: $screen-xs) {
  .llp {
    #events {
      .events-slide {
        transform: scale(.8);

        opacity: .5;

        &.slick-center {
          transform: scale(1);

          opacity: 1;
        }
      }
    }

    #programs {
      figure .img-wrap .img-overlay .overlay-text p {
        font-size: 12vw !important;
      }
    }
  }
}

@media (min-width: $screen-xs) {
}

@media (min-width: 480px) {
  .llp {
    #events {
      padding-right: $padding-base;
      padding-left: $padding-base;
    }
  }
}

@media (min-width: $screen-sm) {
  .llp {
    #what-is-llp {
      .llp-logo {
        padding-bottom: 0;

        text-align: center;
        figure {
          .img-wrap {
            img {
              max-width: 160px ;
            }
          }
        }
      }
    }
    #testimonials {
      .testimonial-img-wrap {
        height: 100%;
      }
      .testimonial-body {
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    #events {
      @include xlgCap();
    }
    #events-info {
      @include xlgCap();
      .events-image {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .llp {
  }
}
@media (min-width: $screen-lg) {
}
