<div class="content">
  <h3>Headings</h3>
  <div class="panel panel-default">
    <!-- Table -->
    <table class="table">
      <tbody>
        <tr>
          <td>
            <h1>h1. RLH heading</h1>
          </td>
        </tr>
        <tr>
          <td>
            <h2>h2. RLH heading</h2>
          </td>
        </tr>
        <tr>
          <td>
            <h3>h3. RLH heading</h3>
          </td>
        </tr>
        <tr>
          <td>
            <h4>h4. RLH heading</h4>
          </td>
        </tr>
        <tr>
          <td>
            <h5>h5. RLH heading</h5>
          </td>
        </tr>
        <tr>
          <td>

            <h6>h6. RLH heading</h6>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer">
      <pre><xmp><h1>...</h1>
<h2>...</h2>
<h3>...</h3>
<h4>...</h4>
<h5>...</h5>
<h6>...</h6></xmp></pre>
    </div>
  </div>

  <h3>Body copy</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus.
      </p>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit
        amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      </p>
    </div>
    <div class="panel-footer">
      <pre><xmp><p>...</p></xmp></pre>
    </div>
  </div>

  <h4>Lead body copy</h4>
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="lead">
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
      </p>
    </div>
    <div class="panel-footer">
      <pre><xmp><p class="lead">...</p></xmp></pre>
    </div>
  </div>

  <h4>Display text</h4>
  <p>
    <code>.text-display</code>
  </p>
  <p>Use custom font "SummerHeart"</p>
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-display" style="font-size: 60px">
        This is a display text
      </p>
    </div>
    <div class="panel-footer">
      <pre><xmp><p class="text-display" style="font-size: 60px">...</p></xmp></pre>
    </div>
  </div>

</div>
