<p>
  Use this snippet with double brackets like this:
  <code>&#123;&#123; snippet &#125;&#125;</code>
</p>
<div class="panel panel-default">
  <div class="panel-body">
    This is a
    {{link.content({
      id: 'example-link',
      href: 'https://google.com',
      text: 'link',
      target: '_blank'
    })}}
  </div>
  <div class="panel-footer">
    <pre>
link.content({
  id: 'example-link',             // set id
  href: 'https://google.com',     // set href
  text: 'link',                   // set link text
  target: '_blank'                // set target
})        </pre>
  </div>
</div>
