<p>
  Help center module
</p>
<div class="panel panel-default">
  <div class="panel-body">
    {{help.content()}}
  </div>
  <div class="panel-footer">
    <pre>{% raw %}{{help.content()}}{% endraw %}</pre>
  </div>
</div>
